@charset "UTF-8";

 body {
        font-family: 'Pretendard', sans-serif;
        margin: 0;
        padding: 0;
        background-color: #fff;
            
    }

    h2 {
        text-align: center;
        margin-top: 50px;
        color: #333;
    }

    .notice-container {
        width: 60%;
        max-width: 700px;
        margin: 30px auto;
        border: 1px solid #F2EADF;
        border-top: 2px solid #967748;
        border-bottom: 2px solid #967748;
 
        
    }

    .notice-header {
        background-color: #F2EADF;
        padding: 13px;
        font-size: 18px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d1bfa7;
        
    }
    
    .notice-header_none {
        background-color: none;
        padding: 13px;
        font-size: 18px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #d1bfa7;
 
    }

    .notice-header img {
        margin-right: 10px;
    }

    .notice-content {
        padding: 20px;
        font-size: 14px;
        color: #555;
        line-height: 1.6;
    }

    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        margin-top: 140px;
       
       
        
    }

    .pagination a {
        margin: 0 5px;
        padding: 5px 12px;
        text-decoration: none;
        color: #967748;
        border: 1px solid #9A9A9A;
        background-color: #fff;
        
    }

    .pagination a.active {
        background-color: #967748;
        color: #fff;
    }

    .pagination a:hover {
        background-color: #d1bfa7;
        color: #fff;
    }

    .back-button:hover {
        background-color: #d1bfa7;
        color: #fff;
    }
    
    
    
      .accordion {
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
            border-top: 2px solid #967748;
            border-bottom: 2px solid #967748;
            margin-top:70px;
            margin-bottom:70px;
            
        }

        .accordion-item {
            border-bottom: 1px solid #e2e2e2;
            
        }

        .accordion-item:last-child {
            border-bottom: none;
            
        }

        .accordion-header {
            padding: 15px;
            font-size: 13px;
            font-weight: bold;
            background-color: #fff;
            cursor: pointer;
            display: flex;
            align: left;
            align-items: center;
            justify-content: space-between;
         
        }

        .accordion-header::before {
            content: "Q.";
            color: #8b4e24;
            margin-right: 10px;
        }

        .accordion-header.active::after {
            content: "▲";
            font-size: 12px;
            color: #949494;
        }

        .accordion-header::after {
            content: "▼";
            font-size: 12px;
            margin-left: 10px;
            color: #949494;
        }

/*       content는 기호만 넣을 수 있으므로 png 화살표를 넣고 싶으면 백그라운드로 넣어야함. */
      
      
        .accordion-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
            background-color: #f7f7f7;
            padding: 0 15px;
            font-size: 12px;
        }

        .accordion-content p {
            padding: 10px 0;
            margin: 0;
        }

        .accordion-header.active + .accordion-content {
            max-height: 200px; /* 충분한 높이로 설정하여 내용이 펼쳐지도록 함 */
            padding: 15px;
            
        }
        
       
    